body{
  margin:0;
  padding:0;
  background: rgb(57, 255, 255);
  overflow: hidden;
  font-size: 1rem;
}

.form{
  background: white;
}

img{
  width: auto;
  max-height: 100%;
}

.btn-primary{
  background: rgb(57, 215, 255);
  border: 1px solid rgb(223, 223, 223);
  color: lightslategrey;
}

.btn-primary:hover, .btn-primary:active{
  background: rgb(43, 165, 195) !important;
  border: 1px solid rgb(223, 223, 223) !important;
}